<h3>Welcome {{this.login}}!!</h3>
<body>

<!-- Card -->
<div class="card card-cascade wider reverse">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="/assets/img/top.jpeg"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Overview</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Quizjs welcomes you!!</h6>
    <!-- Text -->
    <p class="card-text" style="color: darkblue; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
      Welcome to an interactive and entertaining experience for all looking for learning and a well-rounded venture,so enjoy!!
    </p>

    <!-- Linkedin -->
    <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
    <!-- Twitter -->
    <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
    <!-- Dribbble -->
    <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

  </div>

</div>
<!-- Card -->



  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
  
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/assets/img/tictac.jpg"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Game Stats</h4>
          <!--Text-->
          <p class="card-text">
            Games Played: {{this.gp}}<br>
            Games Won by player X: {{this.gwx}}<br>
            Games Won by player O: {{this.gwy}}<br>
            Games Tied: {{this.gt}}<br><br>
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md" (click)="resetgame()">Reset stats</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
  
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/assets/img/quiz.jpg"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Quiz stats</h4>
          <!--Text-->
          <p class="card-text">Quizzes taken: {{this.quiztk}}<br>
            Highest score achieved: {{this.highscore}}<br>
            Lowest score achieved: {{this.lowscore}}<br>
            <br><br><br>
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md" (click)="resetquiz()">Reset stats</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
  
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/assets/img/didyouknow.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">DID YOU KNOW?</h4>
          <!--Text-->
          <p class="card-text" style="font-weight: 900;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{this.fact}}!!!!</p><br><br>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md" routerLink="fact">View more fun facts....</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    
  </div>  








  <div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{this.quot}}</p>
        <footer class="blockquote-footer">{{this.auth}}</footer>
      </blockquote>
    </div>
  </div>
</body>