<h3>Welcome {{this.login}}!!</h3>
<body>
    <div class="card a">
    <div class="card-body">
      <h5 class="card-title">Panel title</h5>
      <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      <a class="card-link">Card link</a>
      <a class="card-link">Another link</a>
    </div>
  </div>




  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
  
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/assets/img/tictac.jpg"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Game Stats</h4>
          <!--Text-->
          <p class="card-text">
            Games Played: {{this.gp}}<br>
            Games Won by player X: {{this.gwx}}<br>
            Games Won by player O: {{this.gwy}}<br>
            Games Tied: {{this.gt}}<br><br>
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md" (click)="resetgame()">Reset stats</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
  
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/assets/img/quiz.jpg"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Quiz stats</h4>
          <!--Text-->
          <p class="card-text">Quizzes taken: {{this.quiztk}}<br>
            Highest score achieved: {{this.highscore}}<br>
            Lowest score achieved: {{this.lowscore}}<br>
            <br><br><br>
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md" (click)="resetquiz()">Reset stats</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
  
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/assets/img/didyouknow.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">DID YOU KNOW?</h4>
          <!--Text-->
          <p class="card-text" style="font-weight: 900;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{this.fact}}!!!!</p><br><br><br>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md" routerLink="fact">View more fun facts....</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    
  </div>  







  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text"></p>
      <a href="#!" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{this.quot}}</p>
        <footer class="blockquote-footer">{{this.auth}}</footer>
      </blockquote>
    </div>
  </div>
</body>