<div *ngIf="tab=='start'">
<!-- Card Dark -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
        alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body elegant-color white-text rounded-bottom">
  
      <!-- Social shares button -->
      <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
      <!-- Title -->
      <h4 class="card-title" style="font-weight: bold; color: darkred;">COMPUTER FUNDAMENTALS</h4>
      <hr class="hr-light">
      <!-- Text -->
      <p class="card-text white-text mb-4">Learn basics of computers and technology from scratch and take a quiz to test your understanding</p>
      <!-- Link -->
      <a (click)="learntab(1)" class="white-text d-flex justify-content-end">
        <h5>Read more...<i class="fas fa-angle-double-right"></i></h5>
      </a>
  
    </div>
  
  </div>
  <!-- Card Dark -->

    
<!-- Card Dark -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/img/science.jpg"
        alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body elegant-color white-text rounded-bottom">
  
      <!-- Social shares button -->
      <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
      <!-- Title -->
      <h4 class="card-title" style="font-weight: bold; color: midnightblue;">SCIENCE</h4>
      <hr class="hr-light">
      <!-- Text -->
      <p class="card-text white-text mb-4">Learn basics of science from scratch and take a quiz to test your understanding</p>
      <!-- Link -->
      <a (click)="learntab(2)" class="white-text d-flex justify-content-end">
        <h5>Read more...<i class="fas fa-angle-double-right"><a (click)="learntab(2)"></a></i></h5>
      </a>
  
    </div>
  
  </div>
  <!-- Card Dark -->



  <!-- Card Dark -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/img/marketing.jpg"
        alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body elegant-color white-text rounded-bottom">
  
      <!-- Social shares button -->
      <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
      <!-- Title -->
      <h4 class="card-title" style="font-weight: bold; color: darkgreen;">Marketing</h4>
      <hr class="hr-light">
      <!-- Text -->
      <p class="card-text white-text mb-4">Learn basics of marketing from scratch and take a quiz to test your understanding</p>
      <!-- Link -->
      <a (click)="learntab(3)" class="white-text d-flex justify-content-end">
        <h5>Read more....<i class="fas fa-angle-double-right"><a (click)="learntab(3)"></a></i></h5>
      </a>
  
    </div>
  
  </div>
  <!-- Card Dark -->
</div>






<div *ngIf="tab=='1'">
<!-- Classic tabs -->
<p>INTRODUCTION
    Computer as a revolution left no area of life untouched in the present world. It is of tremendous help in
    all field of life. Hence, the knowledge of computer is a necessity for existence of everybody in this global
    village. The invention of computer has transformed our simple manual works to sophisticated life of automated
    works to meet the global demand for the higher productivity and increased efficiency with high precision.
    Computer is increasingly becoming compulsory in nearly all fields of studies, not because of anything
    but its accuracy and versatility in processing data. Many tasks at home or office are being automated rapidly
    with computer. Thus it is becoming apparent that in whatever discipline or working sector, the computer is now
    a very vital tool for efficiency improvement and precision of job or task execution.
    This is designed to meet the prerequisite need of everybody that are interested and wish to know about
    computers science and computing in general.
    A computer is an electronic device, operating under the control of instructions stored in its own memory. These instructions tell the machine what to do. The computer is capable of accepting data (input), processing
    data arithmetically and logically, producing output from the processing, and storing the results for future use. Most computers that sit on a desktop are called Personal Computers (PCs).
    The "computer" is an ensemble of different machines that you will be using to get your job done. A
    computer is primarily made of the Central Processing Unit (usually referred to as the computer), the monitor,
    the keyboard, and the mouse. Other pieces of hardware are commonly referred to as peripherals.
    In everyday life activities, we process data or encounter cases of data processing. A typical example of
    data processing is the generation of statement of student result from the marks score in an examination and
    continuous assessment. It is essential to know that information is as good as the data from which it is derived, and the transformation process which they are subjected to. Meaningless data or inappropriate processing
    produces wrong information. Thus computer gives you results corresponding to what data you supply and how
    you process it (i.e. ëgabbage- in, gabbage-outí).
    Summarily, the intelligent performance of a computer depends on correctness of input data and the
    intelligence performance of the human being that drives it.
    USES OF COMPUTERS
    People use computers in many ways; business, computers are used to track inventories with bar codes
    and scanners, check the credit status of customers, and transfer funds electronically, homes, tiny computers
    embedded in the electronic circuitry of most appliances control the indoor temperature, operate home security
    systems, tell the time, and turn video cassette recorders (VCRs) on and off, automobiles regulate the flow of
    
    Computer Training Expert Solution Consults Fundamentals of Computer Studies
  fuel, thereby increasing gas mileage, they also entertain, creating digitized sound on stereo systems or
    computer-animated features from a digitally encoded laser disc.
    Computer programs, or applications, exist to aid every level of education, from programs that teach
    simple addition or sentence construction to programs that teach advanced calculus. Educators use computers to
    track grades and communicate with students; with computer-controlled projection units, they can add graphics, sound, and animation to their communications. Computers are used extensively in scientific research to solve
    mathematical problems, investigate complicated data, or model systems that are too costly or impractical to
    build, such as testing the air flow around the next generation of aircraft. The military employs computers in
    sophisticated communications to encode and unscramble messages, and to keep track of personnel and supplies. HISTORY OF COMPUTING
    Since the creation of man, a significant amount of human activities has been ascribed to organizing and
    processing information so that it could be more easily presented for easy comprehension. Many devices have
    been used in the past before the advert of computer. It is then necessary to vividly look into their evolution. Early computing machines:
    1. Abacus (-2500BC): This is a hand- held device made of beads stung on rods in a frame. The rods
    correspond to positions of the digits while the beads correspond to the digits. 2. Napierís Bone (2500BC): This was invented by John Napierís (1550 - 1617). This consists of
    small rods with appropriate markings on them. It is a mechanical aid to computation that consists of nine such
    rods (called bones) with one for each digit 1 through 9. He also invented logarithms which made possible to do
    division and multiplication by performing addition and subtraction. 3. Slide Rule (1600AD) by William Oughtred (1575 - 660): He invented it in 1622 but announced it
    in 1632 this consist of rules on which markings represent logarithms of numbers and also permits calculation
    involving exponents, trigonometric functions, etc. 4. Pascal mechanical calculator (1600) or Numerical wheel calculator:-Blaise Pascal (1623 -1664)
    in 1642 invented the first adding machine called Pascaline. The brass rectangular box used eight moveable dials
    to add and sum up of eight figures long using base 10. It can perform all the four arithmetic operation with
    previous unheard speed. 5. Leibnitz mechanical multiplier (1600): In 1694 Gottfried Wilhem Von Leibnitz (1646 -1716)
    improved upon the pascaline by creating a machine that can also multiply using a system of dials and gear.
    6 Colmarís Calculator (1820) by Charles Xavier Thomas de Colmar: This presented a more
    practical approach to computing. 7 Punched-Card machine (Jacquardís loom) (1801): Joseph Marie Jacquard. 8 Mechanical computer: Charles Gabbage (1792-1871) Father of the computer. Difference engine
    powered by steam and large as locomotive the machine has a stored program and could perform calculations
    and print the result automatically. We also have Analytical engine credited to him. 9 Hermann Hollerith (1860-1929)
     Hollerithís system punch-card reader machine:-for counting census result in 1890 in US.  formed tabulating machine company in 1896(TMC)
     Automatic Tabulating Machine (ATM)-1900
     TMC was renamed to International Business Machines Corporation (IBM) in 1924 after series of
    mergers.
    In summary, the history of computing began with an analog machine. In 1623 German scientist Wilhelm
    Schikard invented a machine that could add, and with the aid of logarithm tables, multiply and divide. Since
    then the development has pass through a lot of stages such as the invention of punched cards to program
    patterns to create woven fabrics by Joseph-Marie Jacquard a French inventor in 19th century. Another early
    
    Computer Training Expert Solution Consults Fundamentals of Computer Studies
    mechanical computer was the Difference Engine, designed in the early 1820s by British mathematician and
    scientist Charles Babbage. In the 1930s American mathematician Howard Aiken developed the Mark I
    calculating machine, which was built by IBM. This electronic calculating machine used relays and
    electromagnetic components to replace mechanical components.
    To be sincere, the world has left the era of hearing stories about computer. We are now in the world of
    what you can use it for to serve its desired purposes. </p>
<a href="/assets/img/FundamentalsofComputerStudies.pdf">read more.....</a>
</div>





<div *ngIf="tab=='3'">
<p>
  1.1 The meaning of marketing
Marketing is a broad subject. It includes all the activities that bring buyers and sellers
together. To gain an insight into the meaning of marketing, we begin by looking at the
differences between marketing and selling. Then we examine a defi nition of marketing,
the so-called marketing mix and the exchange process between the buyer and the seller.

</p>

<a href="/assets/img/marketing.pdf">read more.....</a>

</div>











<div *ngIf="tab=='2'">
<p>
  A biomolecule is an organic molecule that is produced by a living organism. Biomolecules act as building blocks of
life and perform important functions in living organisms. More than 25 naturally occurring chemical elements are
found in biomolecules. Most of the elements have relatively low atomic numbers. Biomolecules consist primarily of
carbon, hydrogen, nitrogen, oxygen, phosphorus and sulfur. The four most abundant elements in living organisms,
in terms of the percentage of the total number of atoms, are hydrogen, oxygen, nitrogen, and carbon, which
together make up over 99% of the mass of most cells.
Nearly all of the biomolecules in a cell are carbon compounds, which account for more than one-half of the dry
weight of the cells. Covalent bonding between carbon and other elements permit formation of a large number of
compounds. Most biomolecules can be regarded as derivatives of hydrocarbons. The hydrogen atoms may be
replaced by a variety of functional groups to yield different families of organic compounds. Typical families of
organic compounds are the alcohols, which have one or more hydroxyl groups; amines, which have amino groups;
aldehydes and ketones, which have carbonyl groups; and carboxylic acids, which have carboxyl groups. Many
biomolecules are polyfunctional, containing two or more different kinds of functional groups. Functional groups
determine chemical properties of biomolecules.
Sugars, fatty acids, amino acids and nucleotides constitute the four major families of biomolecules in cells. Many of
the biomolecules found within cells are macromolecules and mostly are polymers (composed of small, covalently
linked monomeric subunits). These macromolecules are proteins, carbohydrates, lipids and nucleic acids.
Small biomolecules Macromolecules
Sugars Polysaccharide
Fatty acids Fats/Lipids
Amino acids Proteins
Nucleotide Nucleic acid
Nucleic acids and proteins are informational macromolecules. Proteins are polymers of amino acids and constitute
the largest fraction (besides water) of cells. The nucleic acids, DNA and RNA, are polymers of nucleotides. They
store, transmit, and translate genetic information. The polysaccharides, polymers of simple sugars, have two
major functions. They serve as energy-yielding fuel stores and as extracellular structural elements.
</p>

<a href="/assets/img/science.pdf">read more.....</a>

</div>