<!--Zoom effect-->
<div class="view overlay zoom">
  <img src="/assets/img/ripley1.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    </div>
</div>

<!--Zoom effect-->
<div class="view overlay zoom">
  <img src="/assets/img/ripley2.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text">Zoom effect</p>
  </div>
</div>

<!--Zoom effect-->
<div class="view overlay zoom">
  <img src="/assets/img/ripley3.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text">Zoom effect</p>
  </div>
</div>

<!--Zoom effect-->
<div class="view overlay zoom">
  <img src="/assets/img/ripley4.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text">Zoom effect</p>
  </div>
</div>

<!--Zoom effect-->
<div class="view overlay zoom">
  <img src="/assets/img/ripley5.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text">Zoom effect</p>
  </div>
</div>

<!--Zoom effect-->
<div class="view overlay zoom">
  <img src="/assets/img/ripley6.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text">Zoom effect</p>
  </div>
</div>

<!--Zoom effect-->
<div class="view overlay zoom">
  <img src="/assets/img/ripley7.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text">Zoom effect</p>
  </div>
</div>

<!--Zoom effect-->
<div class="view overlay zoom">
  <img src="/assets/img/ripley8.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text">Zoom effect</p>
  </div>
</div>

<!--Zoom effect-->
<div class="view overlay zoom">
  <img src="/assets/img/ripley9.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    
  </div>
</div>

<!--Zoom effect-->
<div class="view overlay zoom">
  <img src="/assets/img/ripley10.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text">Zoom effect</p>
  </div>
</div>